@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
   --primary: #8A9A5B;
   --background: #F9F7F2;
   --text: #4A4036;
   --accent: #C27A59;
}

@theme inline {
   --color-primary: var(--primary);
   --color-background: var(--background);
   --color-text: var(--text);
   --color-accent: var(--accent);

   font-headings: 'Cormorant Garamond', serif;
   font-body: 'Lato', sans-serif;
}


